/* The Loader */
/*#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
          transition: all 0.3s 1s ease-out;
}
#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}*/

@font-face {
    font-family: ulTra;
    src: url(./home_files/SCE.otf);
}
body{
    font-family: ulTra; padding: 0; margin: 0;
}
.mywrapper {width: 100%; margin: 0; padding: 0;}
h1{
    font-family: ulTra; font-size: 20px;
}
     #news-ticker {
                height: 290px;
                overflow: hidden;
                width:100%;
                 z-index: 1;
				 margin: 0;
                -webkit-transform: translate3d(0, 0, 0);
    }
    #news-ticker li {
                height:145px;
                margin-left: 10px;
                width: 100%;
                clear:both /* This is to ensure that there is no overlap */
    }
    #news-ticker img{
                margin-left:auto;
                margin-right: auto;
    }
    .bgvid {
    position: fixed;
    left: 0px;
    top: 0px;

    z-index: -1;
}
 
.tickerBox{
    display: none;
    background: rgba(0, 0, 0, 0.4);
     z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
#siteLogo{
    background: url("../imgs/2k15.png");
    background-size: 100%;
    background-position:center;

    background-repeat: no-repeat;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
}
#top{
    -webkit-transform: translate3d(0, 0, 0);
    background: none repeat scroll 0 0 #000;
    box-sizing: border-box;
    padding-top: 10px;
}
#top .box{
    float:left;
    margin-left: 25px;
    vertical-align:middle;
    text-align:center;
	width: 150px;
}
#top .box img {max-width:100%; height:50px; vertical-align:middle; text-align:center; display:table-cell;}

#boxLeft{
    float:left;
    height: 100%;
    width:7%;
    margin-left: 2%;
    display: table-cell; 
    vertical-align:middle;
     text-align:center
}
#updateBox{
    float: right;
    width: 300px;
    background: rgba(0,0,0,.4);
}
#play{
  width: 800px;
  height: 500px;
}
.active{
    background-color: rgba(255,255,255,.1); color:#fff;
}
.clear { clear: both; height: 10px; margin: 0; padding: 0 } 
.ticker_container {float: left; width: 150px; background: none repeat 0 0 rgba(0, 0, 0, 0.4); height: 350px;}
.ticker_container h3 {color: #fff; font-size: 20px; font-weight: bold; text-align: center;}
.ticker_container ul {margin-top: 20px;}
.home_iframe {width: 640px; margin: 0px 40px; display: inline;}
.contentarea {width: 100%; margin:0 auto; background: none repeat 0 0 rgba(0, 0, 0, 0.4); padding: 30px; margin-top: 20px; box-sizing: border-box;}
.contentarea p {color: #fff; margin-bottom: 12px; text-align: justify;}
.contentarea h1 {text-align: center; font-size: 30px;}
.copyright {bottom: 0;margin: 30px 0;text-align: center;font-size: 12px;}